@import '../_media.scss';

.chart__person {
    
    display: flex;
    align-items: center;

    @include _landscape_668 {
        width: 236px;
        &:nth-of-type(3) {
            padding-left: 16px;
        }
    }

    @include _landscape_1920 {
        width: auto;
        margin-right: 64px;
        &:nth-of-type(3) {
            padding-left: 64px;
        }
    }

    &__pic {
        width: 40px;
        height: 40px;
        border-radius: 100px;
        margin-right: 14px;
        @include _landscape_1024 {
            width: 60px;
            height: 60px;
        }
        @include _landscape_1920 {
            width: 120px;
            height: 120px;
            margin-right: 28px;
        }
    }

    &__photo {
        border-radius: 50%;
        height: 40px;
        width: 100%;
        object-fit: cover;
        object-position: 50% 50%;
        filter: var(--filter);
        @include _landscape_1024 {
            height: 60px;
        }
        @include _landscape_1920 {
            height: 120px;
        }
    }

    &__meta {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;

        @include _landscape_668 {
            justify-content: center;
        }
    }

    &__name {
        font-family: 'Roboto Medium';
        font-size: 16px;
        line-height: 18px;
        color: var(--primary-text-color);
        margin-bottom: 4px;
        @include _landscape_1920 {
            font-size: 28px;
            margin-bottom: 20px;
        }
    }

    &__value {
        font-size: 14px;
        line-height: 16px;
        color: var(--subhead-text-color);
        @include _landscape_1920 {
            font-size: 22px;
        }
    }
}