@import '../_media.scss';


.activity__legend {

    width: 100%;
    display: flex;

    height: 38px;

    &--landscape {
        display: none;
    }

    &--portrait {
        display: flex;
    }

    @include _landscape_668 {
        &--portrait {
            display: none;
        }
        &--landscape {
            display: flex;
        } 
        justify-content: center;
    }

    @include _landscape_1024 {
        margin-top: 2vh;
    }

    &__item {
        display: flex;
        flex-direction: column;
        flex: 1;
        align-items: stretch;
        justify-content: space-between;
        margin-right: 8px;

        &:last-of-type {
            margin-right: 0;
        }

        @include _landscape_668 {
            max-width: 60px;
        }
    }

    &__pic {
        min-height: 12px;
        border-radius: 2px;
        display: flex;

        &--min {
            background: var(--activity-slider-min-background);
            box-shadow: var(--activity-slider-min-shadow);
        }

        &--mid {
            background: var(--activity-slider-mid-background);
            box-shadow: var(--activity-slider-mid-shadow);
        }

        &--max {
            background: var(--activity-slider-max-background);
            box-shadow: var(--activity-slider-max-shadow);
        }

        &--extra {
            background: var(--activity-slider-extra-background);
            box-shadow: var(--activity-slider-extra-shadow);
        }
    }

    &__text {
        display: flex;

        color: var(--subhead-text-color);

        font-family: 'Roboto Medium';
        font-size: 16px;
        line-height: 18px;

        @include _landscape_668 {
            align-self: center;
        }
    }

}